version: "3.8"

services:
  frontend:
    container_name: portfolio-frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - backend
    environment:
      - CHOKIDAR_USEPOLLING=true

  backend:
    container_name: portfolio-backend
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - db

  db:
    container_name: portfolio-postgres
    image: postgres:16
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=docker
      - POSTGRES_DB=portfolio_db
    ports:
      - "5432:5432"
    volumes:
      - $HOME/docker/volumes/portfolio-postgres:/var/lib/postgresql/data
