/* ---------- Universal 2-column layout across all pages ---------- */
.page__content {
  display: flex;
  /* min-height: 100vh; */
  min-height: 100svh;
}

.left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 50%;
  /* min-height: 100vh; */
  min-height: 100svh;
}

.right-side {
  background-color: var(--bg-dark);
  border-radius: 0 0 0 50px;
  padding: 4rem 3rem 3rem;
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  width: 50%;
  /* min-height: 100vh; */
  min-height: 100svh;
}

/* ---------- Mobile ---------- */

/* Mobile */
@media (max-width: 900px) {
  .page__content {
    flex-direction: column;
  }

  .left-side,
  .right-side {
    width: 100%;
    min-height: auto;
  }

  /* .right-side {
    order: -1;
    border-radius: 0;
  } */
   @media (max-width: 900px) {
  .right-side {
    padding: 2.25rem 1.25rem 2rem;
  }
}

  /* .left-side {
    margin-top: -75px;
  } */
   @media (max-width: 900px) {
  .left-side {
    margin-top: 0;
    padding-top: 16px;
    padding-bottom: 24px;
  }
}
}
