/* Global reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;        /* <-- Removes the white border */
  padding: 0;
  height: 100%;
}

#root {
  min-height: 100%;
}
